import(e1071)
export(coalitions,EOQ,EOQcoo,EPQ,EPQcoo,characteristicfunction,funcionauxiliar,inventorygames,Inventorymodel,mct,mfoc,mwhc,mwhc2c,linerule,linerulecoalitional,shapley_mfoc,SOC,STI,STIcoo,twolines,vShapley)
